*{
    font-family: var(--font-1);
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}