html{
    font-size: 16px;
    scroll-behavior: smooth;
}
body{
    background-color: #fafbfc;
    scroll-behavior: smooth;
}
.arrowUp{
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    width: 3rem;
    height: 3rem;
    background-image: linear-gradient(to top, #a044ff, #6a3093);
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 52%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0.4rem;
    cursor: pointer;
    opacity: .8;
}
.arrowUp:hover{
    opacity: 1;
    color: black;
}
.arrowUp a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
abbr{
    font-style: italic;
    font-weight: 600;
    cursor: context-menu;
}
.sessaoHeader h2{
    text-transform: uppercase;
    font-size: 2.1rem;
    font-weight: 600;
    color: var(--color-1);
    font-family: var(--font-1);
    letter-spacing: .3rem;
    text-align: center;
}
