:root{
    --font-1 : 'Poppins', sans-serif;
    --font-2: 'Baloo Da 2', sans-serif;    
    --font-3: 'Josefin Slab', serif;    
    --font-4: 'Mulish',serif;

    --color-1: #00768C;
    --color-2: #6a3093;
}